services:
  postgres:
    image: postgres:18
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 3
    ports:
      - "5432:5432"
    env_file:
      - ./docker-compose.env
    networks:
      - gobetterauth_playground_network

  redis:
    image: redis:8.4
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    ports:
      - "6379:6379"
    env_file:
      - ./docker-compose.env
    networks:
      - gobetterauth_playground_network

networks:
  gobetterauth_playground_network:
    driver: bridge
