POSTGRES_USER=
# Generate using `openssl rand -base64 18`
POSTGRES_PASSWORD=
POSTGRES_DB=

# Generate using `openssl rand -base64 24`
REDIS_PASSWORD=

REDPANDA_CONSOLE_PORT=
CONFIG_FILEPATH=/tmp/config/config.yml
